<div class="col-sm-6 episode">
    <div class="media">
        <div class="media-left">
            <span tabindex="0" data-trigger="focus" data-toggle="popover" data-content="{{ episode.title }}"><img src="{{ episode.image }}" class="media-object" alt="{{ episode.title }}" width="200"></span>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ episode.title }} <small><i>Season {{ episode.season }} Episode {{ episode.episode }}</i></small></h4>
            <p>{{ episode.synopsis }}</p>
        </div>
    </div>
</div>
